@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    font-family: 'IBM Plex Sans', sans-serif;
}

main {
    display: flex;
    width: 1280px;
    margin: 0 auto;
    height: 720px;
    width: 100vw;
}

/* TODOS OS BOX */
.container {
    display: flex;
    flex-flow: column;
    width: 700px;
    width: 100vw;

}

/* BOX LOGO */ 
.box {
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 73px;
    width: 229px;
    height: 68px;
    cursor: pointer;
}

/* QUEM ESTA ASSISTINDO */
h1 {
    color: white;
    text-align: center;
    font-size: 49px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500px;
    letter-spacing: 1px;
    margin-bottom: 41px;
}

/* LISTA UL */
.papaicx {
    display: inline-flex;
    margin: 0 auto;
    list-style: none;
    /* margin-top: 20px; */

}

/* PARTE LI */
.list {
    width: 160px;
    height: 160px;
    margin: 26px;
    border-radius: 10px;
    margin-bottom: 136px;
}

/* FIGURE */
.caixa {
    width: 160px;
    height: 160px;
    background-color: #1E1E20;
    justify-content: center;
    overflow: hidden;
}

/* ADICIONAR PERFIL: BOX */
.caixa2 {
    width: 160px;
    height: 160px;
    margin: 26px;
    border-radius: 10px;
    margin-bottom: 16px;
    background-color: #1E1E20;
    justify-content: center;

}


.caixa:hover {
    cursor: pointer;
    color: white;
    border: 2px white solid;
}

.caixa2:hover {
    cursor: pointer;
    color: white;
    border: 2px white solid;

}

/* IMAGENS */
.logo1 {
    width: 160px;
    height: 160px;
    border-radius: 5px;
    
}

.logo1:hover {
    width: 205px;
    height: 205px;
    margin-left: -21.5px;
}

/* GERENCIAR PERFIL */
.botao {
    margin: 0 auto;
    background-color: #000000;
    color: white;
    width: 206px;
    height: 50px;
    border: 1.5px solid rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;

}

.botao:hover {
    color: black;
    background-color: white;
    cursor: pointer;

}

/* LEGENDAS NO GERAL */
p {
    margin-top: 16px;
    color: #9C9C9C;
    text-align: center;
    margin: 0 auto;
    color: rgba(156, 156, 156, 1);
}

/* TXT ADICIONAR PERFIL */
.legendaperfil {
    margin-top: 70px;
}

.legendaperfil:hover {
    filter: brightness(200);
    cursor: pointer;
}

/* LEGENDAS ESPECIFICAS: UNDER IMAGEM */
.legenda {
    margin-bottom: 100px;
    margin-top: 16px;
}

.legenda:hover {
    filter: brightness(200);
    cursor: pointer;
}

/* MAIS DO ADICIONAR PERFIL */
h5 {
    display: flex;
    border: 5.38911px solid #6F6F70;
    margin: 55px auto;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    color: #6F6F70;
    margin-bottom: 53px;
}

h5:hover {
    color: white;
    border-color: white;
    animation-name: animacao;
    animation-duration: 5s;


}

@keyframes animacao {
    from {
        background-color: #1E1E20;
        border: 5.38911px solid #6F6F70;
        color: #6F6F70;
    }

    to {
        background-color: rgb(0, 0, 0);
        border: 5.38911px solid #0000ff;
        color: #0000ff;
    }

}


/* MINHAS DÚVIDAS: 
- COMO OTIMIZAR HOVER DE IMAGEM
- COMO FAZER HOVER DE IMAGEM E TEXTO ALINHADOS (ADICIONAR PERFIL ESTÁ COMO EXEMPLO)
- COMO ALINHAR BOX GERAL NO CENTRO SEM MARGIN 0 AUTO 
 */